/* 
    Document   : styles
    Created on : 24/07/2013, 16:20:44
    Author     : Santiago Alvarez Ruiz
    Description: Test CSS
*/
/* General
-------------------------------------------*/
body{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #666;
    size: 12pt;
}
a{text-decoration: none; color: /*#2db2ea;*/#069}
a:hover{text-decoration: none;}
p{font-size: 1em; line-height: 1.3em; padding: 10px 0;}
h1{font-size: 2em; line-height: 2em; padding: 5px 0;}
h2{font-size: 1.8em; line-height: 1.8em; padding: 5px 0;}
h3{font-size: 1.5em; line-height: 1.5em; padding: 5px 0;}
strong{font-weight: bold;}

#header-wrapper,
#nav-wrapper,
#content-wrapper,
#footer-wrapper{
    width: 960px;
    margin: auto;
}

/* Header
-------------------------------------------*/
header { 
    background-color: #111;
    height: 150px;
    padding: 10px;
    position: relative;
    color: #fff;
}
#header-wrapper img{
    display: inline-block;
    float: left;
}
#header-wrapper .title {
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    margin: 30px 0 5px 0;
}
#header-wrapper .sub-title {
    font-style: italic; 
}
/* Menu
-------------------------------------------*/
nav{background: #eee;}
#nav-wrapper li{
    display: inline-block;
    padding: 10px 20px; 
    position: relative;
}
#nav-wrapper li.active{background: #fff;}
#nav-wrapper li.active a{color: #000;}
#nav-wrapper a{color: #333;}
#nav-wrapper li:hover{background: #ccc;}
#nav-wrapper .sub-menu{
    position: absolute;
    background-color: #ccc;
    width: 150px;
    top: 36px;
    left: 0px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    display:none;
}
#nav-wrapper li:hover .sub-menu{display:block;}

#nav-wrapper .sub-menu li{
    display: block;
}
#nav-wrapper .sub-menu li:hover{
    background-color: #bbb; 
}
#nav-wrapper .sub-menu li:last-child{
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
/* Footer
-------------------------------------------*/
footer{
    clear: both;
}
#footer-wrapper{
    border-top: 1px solid #CCC;
}
#footer-wrapper ul{
    display: inline-block;
}
#footer-wrapper ul li{
    display: inline-block;
    padding: 10px; 
}
#footer-wrapper a{
    color: #666;
    text-decoration: none;
}
#footer-wrapper a:hover{ 
    text-decoration: none;
    color: #000;
}
#footer-wrapper .copyright{
    display: inline-block;
    float: right;
    padding: 10px; 
}

/* Content
-------------------------------------------*/
#content-wrapper{
    background: #fff;
    min-height: 400px;
    padding: 10px;
}
h1{
    font-weight: bold;
}
.two-columns{
    width: 460px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
}
.two-columns.last{
    border-left: 1px solid #CCC;
    margin-left: 10px;
    padding-left: 20px;
}
table {
    font-size: 0.90em!important;
    width: 100%;
    margin: 10px 0;
}
table th{
    font-weight: bold;
    background-color: #eee;
}
table tr td,
table tr th{
    padding: 5px;
    vertical-align: middle!important;
}
table tbody tr:hover{
    background-color: #fdf8b7;
}
table input{
    width: 75%;
    padding: 2px 5px;
}
button{
    display: inline-block;
    background: #505050;
    border: none;
    padding: 10px 15px;
    margin-right: 15px;
    color: #fff;
    cursor: pointer;
}
button:hover{background: #069;}
ul.actions li{display: inline-block;}
/* Forms
-------------------------------------------*/
#add-address-form-wrapper{position:relative;}
.search-results,
fieldset{
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 20px 0;
    width: 300px;
    float: left;
}
.search-results{
    position: absolute;
    top: 260px;
    width: 320px;
    max-height: 265px;
    overflow: auto;
}
fieldset .item{
    display: inline-block;
    width: 300px;
    margin: 0 20px 20px 0;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
input, textarea{
    display: inline-block;
    border: 1px solid #CCC;
    padding: 5px 10px;
    width: 300px;
    font-size: 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
textarea{resize:none;}
input[type=submit]:active{background: #333;color: #fff;}
.error{
    border: 1px solid red;
    color: red;
}
.error-message{
    color: red;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    font-size: 0.8em;
}
.error-message.error-textarea{
    top: -90px;
    position: relative;
}
/*#add-address-form-wrapper{ display: none; }*/
.message{
    padding: 10px 20px;
    border: 1px solid #2a9e3d;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 15px 0;
    
}
.message.success{
    border: 1px solid #2a9e3d;
    color: darkgreen;
}
.message.error{
    border: 1px solid #882d17;
    color: red;
}
.message.info{
    border: 1px solid #069;
    color: #069;
}
#map-wrapper{
    height: 545px;
    width: 575px;
    float: left;
    margin: 20px 0 20px 20px;
    background: #fff;
    box-shadow: 0 0 20px #999;
    -moz-box-shadow: 0 0 20px #999;
    -webkit-box-shadow: 0 0 20px #999;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#map {
    height: 400px;
    width: 680px;
    float: left;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 0 20px #999;
    -moz-box-shadow: 0 0 20px #999;
    -webkit-box-shadow: 0 0 20px #999;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#list {
    height: 400px;
    width: 250px;
    overflow-y: auto;
    float:right;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0;
}
.search-results li,
#list ul li {
    position: relative;
    height: 1em;
    padding: 10px 0 10px 10px;
}
.search-results li:hover,
#list ul li:hover{
    background-color: #fdf8b7;
}
.search-results a,
#list a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 0 10px 15px;
}
